<html>
<head>
  <title>Urban Culture  </title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/custom.css">

</head>
<body>
  <h1>Urban Culture Music</h1>
  <div class ="row">
    <div class =".col-xs-8.col-sm-4">
      <nav class="navbar navbar-inverse">

         <ul><a onclick = "location.href='http://localhost:3009/'" style="cursor:pointer">Home</a></ul>
         <ul><a onclick = "location.href='http://localhost:3009/downloads'" style="cursor:pointer">Downloads</a></ul>
         <ul><a onclick = "location.href='http://localhost:3009/playlist'" style="cursor:pointer">Top 20 PlayList</a></ul>
           <ul><a onclick = "location.href='http://localhost:3009/contact us'" style="cursor:pointer">Contact Us</a></ul>
<!--          <span style="cursor:pointer">pointer</span><br>
 -->      </nav>
    </div>
  </div>

  

<div class="rows">
  <div class ="col-md-8">
  </div>
  <div class ="col-md-4">
  


</div>
</div>
</body>

{{{body}}}




<footer class="footer">
  <div class="container text-center">
    
    <img src ="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSCggfSVi0YmbAwwVB6RK43z4n94rWpkdyOFTNdqxb1HejL6QHDCA">
    <img src ="http://www.laceblossom.co.za/wp-content/uploads/2013/09/twitter1.jpg">
    <img src ="http://images.huffingtonpost.com/2014-05-30-CrackedFacebookLogo.png">
  </div>
</footer>
</html>