<html>
<head>
  <title>Urban Culture  </title>
          <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">

</head>
    <body>
     <h1>Urban Culture Music</h1>
     <ul class="nav nav-tabs nav-justified">
              <li><a href="/home">Home</a></li>
                  <li><a href="/downloads">Downloads</a></li>
                    <li><a href="/playlist">Top 20 Chart List</a></li>
                <li><a href="/contactus">Contact Us</a></li>
              </ul>
      </body>

{{{body}}}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script href="/js/bootstrap.min.js"></script>
          <footer class="footer">
            <div class="container text-center">
              <img class="icon" src ="">
              <img class="icon" src  ="">
            <img class="icon" src  ="">
          </div>
  </div>
</footer>
</html>
