 <body>
<h2>Latest News</h2>

<h1 itemprop="name" class="entry-title single-post-title heading_post_title">New Release: AKA – The Baddest Remix [ft Gigi Lamayne, Fifi Cooper, Rouge, Nomoozie]</h1>

 <p>AKA is known for never remixing his songs but with the amount of features he had on the original version it had to have a remix. <br>The Femcees movement in SA Hip Hop has been very topical this year having some industry experts calling 2015 the year of the femcee.</p>
<img src ="http://sahiphopmag.co.za/wp-content/uploads/2015/11/baddest-remix.jpg">

<h1 itemprop="name" class="entry-title single-post-title heading_post_title">Cassper Nyovest’s Album Refiloe Is The No.1 Hip Hop Album In Central Africa</h1>
<p>Cassper Nyovest has had one amazing run since the release of his debut album Tsholofelo.<br> The rapper has gone from strength to strength and we have gotten to watch him from the day <br>he stepped in the mainstream to now where we get to watch him break several records.</p>

<img src="http://sahiphopmag.co.za/wp-content/uploads/2015/11/Cass-white.png">



<h1 itemprop="name" class="entry-title single-post-title heading_post_title">
	Nasty C Announces The Juice Back Remix Featuring Cassper And Davido</h1>



<p>Nasty C is a 17 year old rapper who spits like he is a grown man. The rapper from Durban has been killing every single song that he has been on. It doesn’t matter who he is with on a track, Nasty always seems to devour whoever he raps with.</p>

<img src="http://sahiphopmag.co.za/wp-content/uploads/2015/11/Nasty-Khuli.png">

<p>Nasty C is about to release the remix of Juice Back and the fact that he is featuring the most established artists of our generation i.e Casasper Nyovest and Davido which just makes the remix that much more anticipated. He announced that he will be dropping the single in a few days. We can’t wait to hear what the homies have cooked up for us.</p>


</body>