 <body>
<h2>Latest News</h2>
 <p>AKA is known for never remixing his songs but with the amount of features he had on the original version it had to have a remix. <br>The Femcees movement in SA Hip Hop has been very topical this year having some industry experts calling 2015 the year of the femcee.</p>
<img src ="http://sahiphopmag.co.za/wp-content/uploads/2015/11/baddest-remix.jpg">


<p>Cassper Nyovest has had one amazing run since the release of his debut album Tsholofelo.<br> The rapper has gone from strength to strength and we have gotten to watch him from the day <br>he stepped in the mainstream to now where we get to watch him break several records.</p>

<img src="http://sahiphopmag.co.za/wp-content/uploads/2015/11/Cass-white.png">
</body>